In [3]:
file = 'naname.xlsx'
import pandas as pd

df = pd.read_excel(file, encoding= 'cp949')

In [4]:
df.tail()

,연도,연도/월,Itm,상태,G/L 계정,계정명,참조,지정,BP,유형,...,전기일,현지통화액,L통화,반제일,증빙일,순만기일,수량,BUn,전표통화액,통화
85289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
85290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
85291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaT,NaT,NaN,660000.0,NaN,NaN,NaN
85292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaT,NaT,NaN,528000.0,NaN,NaN,NaN
85293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaT,NaT,NaN,528000.0,NaN,NaN,NaN

In [5]:
df.head()

,연도,연도/월,Itm,상태,G/L 계정,계정명,참조,지정,BP,유형,...,전기일,현지통화액,L통화,반제일,증빙일,순만기일,수량,BUn,전표통화액,통화
0,2015.0,2015/01,1.0,@5B\Q반제@,21113100,예수금_소득세,김상덕,20150112,NaN,AB,...,2015-01-12,24142920.0,KRW,2015-01-12,2015-01-12,NaN,0.0,NaN,24142920.0,KRW
1,2015.0,2015/01,2.0,@5B\Q반제@,21113100,예수금_소득세,김상덕,20150112,1700.0,AB,...,2015-01-12,-24142920.0,KRW,2015-01-12,2015-01-12,NaN,0.0,NaN,-24142920.0,KRW
2,2015.0,2015/01,3.0,@5B\Q반제@,21113110,예수금_주민세,김상덕,20150112,NaN,AB,...,2015-01-12,2413970.0,KRW,2015-01-12,2015-01-12,NaN,0.0,NaN,2413970.0,KRW
3,2015.0,2015/01,4.0,@5B\Q반제@,21113110,예수금_주민세,김상덕,20150112,1700.0,AB,...,2015-01-12,-2413970.0,KRW,2015-01-12,2015-01-12,NaN,0.0,NaN,-2413970.0,KRW
4,2015.0,2015/12,1.0,@5B\Q반제@,12107100,보증금_임차보증금(건물임차),NaN,20151231,NaN,AB,...,2015-12-31,-3000000.0,KRW,2015-12-31,2015-12-31,NaN,0.0,NaN,-3000000.0,KRW

In [13]:
df.iloc[12301]

연도                             2015
연도/월                        2015/02
Itm                               2
상태                         @01\Q전기@
G/L 계정                     46133201
계정명                   (수익)특정연구비_인건비
참조                              이성규
지정                       0017100000
BP                              NaN
유형                               ZD
PK                               40
D/C                               S
SG                              NaN
PayT                            NaN
NP                              NaN
Tx                              NaN
텍스트          AI백신 내부 인건비 대체(15년 2월)
전표 번호                       8.7e+09
취소                              NaN
반제전표                            NaN
참조 키 1                          NaN
참조 키 2                          NaN
참조키 3                           NaN
송장 참조                       8.7e+09
전표 헤더 텍스트            AI백신 내부 인건비 대체
BusA                           1730
품목                                0
계정                         46133201
코스트센터                      1.71e+07
사원번호                              0
PmtMthSu                        NaN
자산                              NaN
ASNo                            NaN
오더                              NaN
자재                              NaN
WBS 요소                  M-MG1109-08
PM                              NaN
지급일                             NaN
전기일             2015-02-26 00:00:00
현지통화액                   1.34818e+07
L통화                             KRW
반제일                             NaT
증빙일             2015-02-26 00:00:00
순만기일                            NaN
수량                                0
BUn                             NaN
전표통화액                   1.34818e+07
통화                              KRW
Name: 12301, dtype: object

In [20]:
df.iloc[71990]

연도                          2018
연도/월                     2018/05
Itm                           42
상태                      @01\Q전기@
G/L 계정                  46103100
계정명               (수익)복지증진비_건강보험
참조                    05월X 00001
지정                    0017100700
BP                           NaN
유형                            HR
PK                            40
D/C                            S
SG                           NaN
PayT                         NaN
NP                           NaN
Tx                           NaN
텍스트                          NaN
전표 번호                      1e+09
취소                           NaN
반제전표                         NaN
참조 키 1                       NaN
참조 키 2                       NaN
참조키 3                        NaN
송장 참조                      1e+09
전표 헤더 텍스트           PP0000003895
BusA                        1720
품목                             0
계정                      46103100
코스트센터                1.71007e+07
사원번호                           0
PmtMthSu                     NaN
자산                           NaN
ASNo                         NaN
오더                           NaN
자재                           NaN
WBS 요소                       NaN
PM                           NaN
지급일                          NaN
전기일          2018-05-23 00:00:00
현지통화액                1.14462e+06
L통화                          KRW
반제일                          NaT
증빙일          2018-05-25 00:00:00
순만기일                         NaN
수량                             0
BUn                          NaN
전표통화액                1.14462e+06
통화                           KRW
Name: 71990, dtype: object

In [21]:
df.to_csv('refined_noname.csv', encoding='utf-8')